h1{
    color:rgb(31, 83, 179);
}
body{
    background-color: rgb(99, 176, 248);
}
#encabezado{
    background-color: aliceblue;
    height: 150px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    
    box-shadow: 10px 10px rgba(0,0,0,0,5);

}