h1{
    color:rgb(9, 55, 141);
}
body{
    background-color: rgb(99, 176, 248);
}
#encabezado{
    background-color: aliceblue;
    height: 150px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
    display: flex;

}

.logo{
    background-color: rgb(255, 255, 255);
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    

}
.logo img{
    width: 100%;
    height: auto;
}


.menu{
    background-color: rgb(7, 100, 180);
    width: 65%;

}


.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: rgb(11, 109, 194);
    
}

.menu ul li{
    margin: 0;
    padding: 15px 20px;
    color: aliceblue;
}

.menu ul li a{
    text-decoration: none;
    color: aliceblue;
}
.menu ul li a:hover{
    background-color: rgb(133, 193, 245);
    padding: 15px 20px;
}
.redes{
    background-color: rgb(16, 101, 180);
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}



/* apartao nuevooo*/
.contenedor-principal{
    width: 80%;
    margin: 20px auto;
}


.seccion-tarjetas{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    background-color: rgb(99, 176, 248);
    padding: 20px;
    border-radius: 10px;
}

.tarjeta{
    flex: 1;
    background-color: rgb(68, 154, 225);
    border: 3px solid rgb(11, 109, 194);
    border-radius: 5px;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}


.seccion-grande{
    background-image: url("../IMAGENES/tecnologiabackgroud.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: 3px solid rgb(11, 109, 194);
    border-radius: 10px;
    margin-bottom: 20px;

    min-height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

/* Capa oscura */
.seccion-grande::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 109, 194, 0.75);
    border-radius: 10px;
}

/* Contenido */
.contenido-grande{
    position: relative;
    z-index: 1;
    max-width: 800px;
    text-align: center;
    color: aliceblue;
    padding: 20px;
}

.contenido-grande h2{
    font-size: 28px;
    margin-bottom: 15px;
}

.contenido-grande p{
    font-size: 18px;
}


.pie-pagina{
    display: flex;
    gap: 20px;
    background-color: rgb(11, 109, 194);
    padding: 20px;
    border-radius: 10px;
}

.pie-item{
    flex: 1;
    background-color: rgb(55, 166, 230);
    border: 3px solid rgb(11, 109, 194);
    border-radius: 5px;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    min-height: 100px;
}

